ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
    border: none;
    background: none;
    color: #2196F3;
    cursor: pointer;
    transition: 0.2s;
}

button:focus {
    /* text-decoration: underline; */
    outline: none;
}

button:hover {
    color: #085ca0;
}

.kanban {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.lane {
  background: #fafafa;
  border-right: thin solid #eee;
}

.lane > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}

.btn-add-story, .btn-add-lane, .btn-remove-lane {
  width: 280px;
  height: 220px;
  font-size: 120px;
  color: #999;
  background: transparent;
  border: thin dashed #888;
  margin-left: 20px;
  margin-top: 20px;
}
.btn-remove-lane:hover {
  color: maroon;
  background: pink;
}

.btn-add-story:hover, .btn-add-lane:hover {
  color: #888;
  background: #ffeb3b;
}
.lane header h2 {
  text-align: center;
  color: #666;
  font-style: italic;
}
.lane .story {
  width: 280px;
  height: 220px;
  margin: 0 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  transition: 0.2s;
  padding: 0;
  opacity: 1;
}

.story.dragstart {
  opacity: 0.7;
  margin-top: -6px;
  margin-left: 14px;
  margin-bottom: 6px;
  margin-right: 26px;
}

.lane .dropzone {
  height: 20px;
  transition: 0.2s
}
.lane .dropzone.over {
  height: 40px;
}

.story header {
  background: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: thin solid #eee;
}

.story h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.story .body {
  height: 133px;
  padding: 6px;
  overflow: hidden;
  background: #fefefe;
}

.story footer {
  border-top: thin solid #eee;
  padding: 8px;
  background: white;
  height: 20px;
}

.inherit-all {
  padding: inherit;
  margin: inherit;
  color: inherit;
  font-size: inherit;
  border: inherit;
  display: inherit;
  font-weight: inherit;
  text-align: inherit;
  outline: none;
  line-height: inherit;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: transparent;
  vertical-align: top;
  white-space: pre;
}
.inherit-all:hover {
  color: inherit;
}
.story .body {
  vertical-align: top;
  white-space: pre;
  overflow:hidden;
}

textarea.inherit-all {
  width: 96%;
  background: #d0f3ff;
  resize: none;
  height: 90%;
}

h3 .inherit-all {
  line-height: 1;
  margin: 0;
  padding: 0;
}

h3 textarea.inherit-all {
  line-height: 1.25;
  height: 1.35em;
  width: 100%;
  margin: -2px 0 -3px 0;
  padding: 0;
}
